# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pseudo-shell
iobound
cpubound

# Visual Studio Code supporting files
.vscode

# Turned in assignments
*.tar.gz
*.tar
*.zip
*.png
*.docx
*.pdf

# Mac-specific files (created when writing reports)
.DS_Store